In [49]:
import numpy as np
import pandas as pd

In [50]:
f = open("input.txt",'r')

In [51]:
arr = []

In [52]:
for num in f:
    arr.append(num)

In [53]:
f.close()

In [54]:
arr

['1993\n',
 '1715\n',
 '1997\n',
 '1666\n',
 '1676\n',
 '1830\n',
 '1203\n',
 '1800\n',
 '1125\n',
 '1191\n',
 '1902\n',
 '1972\n',
 '1471\n',
 '1137\n',
 '2003\n',
 '1250\n',
 '1548\n',
 '1070\n',
 '1152\n',
 '2004\n',
 '1127\n',
 '1111\n',
 '1898\n',
 '1848\n',
 '1934\n',
 '1236\n',
 '1704\n',
 '1950\n',
 '1387\n',
 '1713\n',
 '1214\n',
 '1266\n',
 '1114\n',
 '1089\n',
 '1677\n',
 '1207\n',
 '1341\n',
 '1689\n',
 '1772\n',
 '1901\n',
 '1932\n',
 '1645\n',
 '1285\n',
 '1884\n',
 '883\n',
 '1291\n',
 '1543\n',
 '1455\n',
 '1213\n',
 '1088\n',
 '1784\n',
 '1506\n',
 '1879\n',
 '1811\n',
 '1880\n',
 '994\n',
 '1021\n',
 '1585\n',
 '1662\n',
 '1683\n',
 '1071\n',
 '1643\n',
 '1754\n',
 '1389\n',
 '1124\n',
 '1820\n',
 '1168\n',
 '1875\n',
 '1017\n',
 '1180\n',
 '1375\n',
 '1359\n',
 '1311\n',
 '1357\n',
 '1501\n',
 '1719\n',
 '1584\n',
 '1609\n',
 '1977\n',
 '1786\n',
 '1232\n',
 '1263\n',
 '1748\n',
 '1664\n',
 '1693\n',
 '1766\n',
 '1598\n',
 '1053\n',
 '1277\n',
 '1466\n',
 '1877\n',
 '1844\n',
 '1829\n',
 '1165\n',
 '1606\n',
 '1298\n',
 '1963\n',
 '1873\n',
 '1911\n',
 '1729\n',
 '1418\n',
 '1372\n',
 '1777\n',
 '1371\n',
 '1588\n',
 '1329\n',
 '1029\n',
 '1931\n',
 '1115\n',
 '1810\n',
 '1595\n',
 '1237\n',
 '1282\n',
 '1838\n',
 '1642\n',
 '1937\n',
 '1343\n',
 '1578\n',
 '1425\n',
 '1814\n',
 '1690\n',
 '1129\n',
 '1321\n',
 '1174\n',
 '1863\n',
 '1405\n',
 '1066\n',
 '1220\n',
 '1780\n',
 '1410\n',
 '1156\n',
 '1991\n',
 '1568\n',
 '1368\n',
 '99\n',
 '1750\n',
 '1280\n',
 '1400\n',
 '1601\n',
 '1804\n',
 '1363\n',
 '1613\n',
 '1252\n',
 '1434\n',
 '1094\n',
 '1867\n',
 '1542\n',
 '1093\n',
 '1926\n',
 '1251\n',
 '1348\n',
 '689\n',
 '1441\n',
 '1913\n',
 '1969\n',
 '1409\n',
 '1201\n',
 '1459\n',
 '1110\n',
 '1452\n',
 '1051\n',
 '1860\n',
 '1346\n',
 '1537\n',
 '1060\n',
 '1182\n',
 '1386\n',
 '1141\n',
 '1184\n',
 '1989\n',
 '1852\n',
 '1097\n',
 '1135\n',
 '1078\n',
 '1587\n',
 '1984\n',
 '1970\n',
 '1259\n',
 '1281\n',
 '1092\n',
 '1294\n',
 '1233\n',
 '1186\n',
 '1555\n',
 '1755\n',
 '1886\n',
 '1030\n',
 '1706\n',
 '1313\n',
 '1481\n',
 '1998\n',
 '1181\n',
 '1244\n',
 '1269\n',
 '1684\n',
 '1798\n',
 '1023\n',
 '1960\n',
 '1050\n',
 '1293\n']

In [55]:
s = pd.Series(arr)
s

0      1993\n
1      1715\n
2      1997\n
3      1666\n
4      1676\n
        ...
195    1798\n
196    1023\n
197    1960\n
198    1050\n
199    1293\n
Length: 200, dtype: object

In [56]:
def cleandata(number):
    return int(number[:-1])

In [57]:
s = s.map(cleandata)

In [58]:
s

0      1993
1      1715
2      1997
3      1666
4      1676
       ...
195    1798
196    1023
197    1960
198    1050
199    1293
Length: 200, dtype: int64

In [59]:
s = s.sort_values()
s

134      99
151     689
44      883
55      994
68     1017
       ...
0      1993
2      1997
190    1998
14     2003
19     2004
Length: 200, dtype: int64

In [60]:
s = s.reset_index(drop = True)

In [69]:
def findans(data):
    ans = 0
    found = False
    for i in range(0,200):
        for j in range(i+1,200):
            if ((data[i] + data[j]) == 2020):
                return (data[i]*data[j],i,j)

In [70]:
out = findans(s)

In [71]:
out

(1003971, 2, 32)

In [72]:
(s[2],s[32])

(883, 1137)

## Part 2:

In [73]:
s

0        99
1       689
2       883
3       994
4      1017
       ...
195    1993
196    1997
197    1998
198    2003
199    2004
Length: 200, dtype: int64

In [76]:
s[0:20]

0       99
1      689
2      883
3      994
4     1017
5     1021
6     1023
7     1029
8     1030
9     1050
10    1051
11    1053
12    1060
13    1066
14    1070
15    1071
16    1078
17    1088
18    1089
19    1092
dtype: int64

In [93]:
def findans2(data):
    for i in range(0,200):
        for j in range(i+1,200):
            for k in range(j+1,200):
                if (data[i] + data[j] + data[k] == 2020):
                    return (data[i]*data[j]*data[k],i,j,k)

In [94]:
out = findans2(s)

In [95]:
out

(84035952, 0, 1, 51)

In [96]:
(s[0],s[1],s[51])

(99, 689, 1232)

In [97]:
99 + 689 + 1232

2020

In [98]:
99*689*1232

84035952