In [1]:
import numpy as np
import pandas as pd

In [4]:
f = open('input.txt','r')

In [5]:
buses = []

In [6]:
file = f.read().split()

In [7]:
arrival = int(file[0])

In [8]:
businput = file[1].split(',')

In [9]:
for bus in businput:
    if bus != 'x':
        buses.append(int(bus))

In [10]:
buses

[17, 41, 937, 13, 23, 29, 397, 37, 19]

In [11]:
arrival

1007268

In [12]:
waittimes = []

In [13]:
for bus in buses:
    num = arrival - (arrival % bus) + bus
    waittimes.append(num - arrival)

In [14]:
waittimes

[16, 20, 7, 11, 17, 18, 318, 20, 17]

In [15]:
ans = 7*937

In [16]:
ans

6559

## Part 2

In [17]:
bustimeoffsets = []

In [18]:
i = 0
for bus in businput:
    if bus != 'x':
        bustimeoffsets.append(i)
    i += 1

In [19]:
bustimeoffsets

[0, 7, 17, 35, 40, 46, 48, 54, 67]

In [20]:
bto = bustimeoffsets

In [21]:
buses

[17, 41, 937, 13, 23, 29, 397, 37, 19]

In [26]:
busdf = pd.DataFrame(columns = ['buses','bto'])

In [30]:
busdf['buses'] = buses
busdf['bto'] = bto
busdf = busdf.sort_values(by = ['buses'],ascending = False)
busdf

   buses  bto
2    937   17
6    397   48
1     41    7
7     37   54
5     29   46
4     23   40
8     19   67
0     17    0
3     13   35

In [35]:
busdf.reset_index(drop = True,inplace = True)
busdf

   buses  bto
0    937   17
1    397   48
2     41    7
3     37   54
4     29   46
5     23   40
6     19   67
7     17    0
8     13   35

In [37]:
from math import gcd

In [38]:
found = False
t = 0
increment = 1
while not found:
    found = True
    for i in range(0,len(buses)):
        if (t + busdf['bto'][i]) % busdf['buses'][i] == 0:
            increment = (increment*busdf['buses'][i]) // gcd(increment,busdf['buses'][i])
        else:
            found = False
            
    if found:
        break
    else:
        t += increment

In [39]:
t

626670513163231